.success-change_password{
	margin-top: -10px;
	font-weight: 500;
	background-color: #DEFFBD;
}
.fail-change_password{
	margin-top: -10px;
	font-weight: 500;
	background-color: #FFD2D2;
}
.icon-success-change_password{
	color: green;
	font-size: 30px;
}
.icon-fail-change_password{
	color: red;
	font-size: 30px;
}
.font-success-change_password{
	text-decoration: none;
	position: absolute;
	font-size: clamp(16px , 2vw , 18px);
	color: #000;
	margin-top: 5px;
	margin-left: 20px;
}
.change_password{
	position: absolute;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
}
.head-change_password{
	background-color: #760687;
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: -1.1px;
	margin-top: -10px;
	width: 100.3%;
	height: 60px;
}
.body-change_password{
	width: 97%;
}
.card-change_password{
	border: 1px solid #000;
	background-color: #fff;
}
.fonthead-change_password{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 30px;
	color: #fff;
}
.font-change_password{
	margin-left: 25px;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 600;
}
.input-change_password{
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 10px;
	max-width: 100%;
	width: 800px;
}
.font-requirement{
	font-size: 15px;
	margin-left: 10px;
}
.buttion-change_password{
	height: 50px;
	font-size: clamp(10px , 1.8vw , 18px);
	font-weight: 400;
	margin-left: 78%;
}
.back-to-homepage{
	text-decoration: none;
	color: #000;
	font-size: clamp(14px , 2vw , 18px);
}
@media screen and (max-width:1285.60px){
	.buttion-change_password{
	margin-left: 74%;
	}
	.card{
	width: 100%;
	}
	.change_password{
	margin-left: 5%;
	margin-right: 5%;
	}
}
@media screen and (max-width:1180px){
	.buttion-change_password{
	margin-left: 72%;
	}
}
@media screen and (max-width:1090px){
	.buttion-change_password{
	margin-left: 70%;
	}
}
@media screen and (max-width:990px){
	.buttion-change_password{
	margin-left: 68%;
	}
}
@media screen and (max-width:900px){
	.change_password{
	width: 90%;
	}
}
@media screen and (max-width:880px){
	.change_password{
	width: 90%;
	}
}
@media screen and (max-width:767.20px){
	.input3-change_password{
	border: 1px solid #000;
	margin-left: 25px;
	margin-right: 25px;
	width: 400px;
	}

@media screen and (max-width:500px){
	.input3-change_password{
	width: 91%;
	}
}