.nav-fixed{
	margin-top: 40px;
}
.navbar{
	position: fixed;
	margin-top: -20px;
	width: 100%;
	z-index: 3;
}
.img-logo-nav{
	max-width: 100%;
	width: 60px;
}
.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
}
.register{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
}
.navbar {
    background-color: #ffffff;
}

.navbar1 {
    color: #760687;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Mitr', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: clamp(5px , 1.5vw , 16px);
    
}

.btn {
    margin-right: 50px;
    border-radius: 8px;
    height: 35px;
    text-align: center;
    font-family: 'Mitr', sans-serif;
    letter-spacing: 1px;
}
img {
    width: 20px;
    margin-top: -20px;

}

.text1 {
    font-size: 25px;
    color: #760687;
}

.text {
    color: #92539C;
}

b {
    font-size: 20px;
    color: #760687;

}

p {
    font-size: 15px;
    color: #92539C;

}

div.gallery:hover {

    border: 1px solid #ccc;

}
@media screen and (max-width:1160px){
	.btn{
		margin-left: -20px;
	}
}
@media screen and (max-width:1110px){
	.btn{
		margin-left: -40px;
	}
}
@media screen and (max-width:1030px){
	.btn{
		margin-left: -60px;
	}
}
@media screen and (max-width:900px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: -10px;
}
	.register{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: -10px;
}
	.btn{
		margin-left: -80px;
	}
}
@media screen and (max-width:768px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 500px;
}
	.register{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 0px;
}
	.btn{
		margin-left: 120px;
	}
@media screen and (max-width:740px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 480px;
}
@media screen and (max-width:720px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 460px;
}
@media screen and (max-width:700px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 440px;
}
@media screen and (max-width:680px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 420px;
}
@media screen and (max-width:660px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 400px;
}
@media screen and (max-width:640px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 380px;
}
@media screen and (max-width:620px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 360px;
}
@media screen and (max-width:600px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 340px;
}
@media screen and (max-width:580px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 320px;
}
}
@media screen and (max-width:575.20px){
	.login{
	color: #760687;
	font-weight: bold;
    font-family: 'Mitr', sans-serif;
    margin-left: 0px;
}
.navbar1 {
    color: #760687;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Mitr', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 16px;
    
}
	.btn{
		margin-left: 28px;
	}
}